<ion-view view-title="Sign In">
  <ion-content class="content has-header">
    <div class="list">
      <label class="item item-input">
        <input ng-model="userName" type="text" placeholder="User Name">
      </label>
      <label class="item item-input">
        <input ng-model="password" type="password" placeholder="Password">
      </label>
    </div>
    <div class="padding">
      <button class="button= button-block button-positive"> Sign In</button>
    </div>
  </ion-content>
</ion-view>
